// Work
.site-main .post-16 {
   @media screen and (min-width: 50em) {
      max-width: 70%;
      margin: auto;
   }

   img {
      filter: grayscale(75%) contrast(1.1);
   }

   // Title section
   header.entry-header {
      text-align: center;
      @media screen and (min-width: 50em) {
         text-align: left;
      }

      h1 {
         font-size: 2.5em;
         &::after {
            content: ".";
         }
         @media screen and (min-width: 50em) {
            padding: 0px;
            margin: 0px;
            font-size: 3em;
         }
      }
   }
}
