body {
   background: $color__background-body; // Fallback for when there is no custom background color defined.
   font-family: $my_font_02;
   @media screen and (min-width: 50em) {
      overflow-y: visible !important;
   }
}
