footer.site-footer {
   height: 150px;
   @include center-items--col;
   border-top: 1px solid rgba(black, 0.15);
   @media screen and (min-width: 50em) {
      height: 200px;
   }
   * {
      padding: 0px;
      margin: 0px;
   }
   div.socials {
      margin-bottom: 5px;
   }
   a {
      text-decoration: none;
      color: rgb(131, 131, 131);
      margin: 0px 10px;
      transition: all 0.3s ease-out;

      &:hover {
         cursor: pointer;
         color: black;
      }
   }
   p {
      font-size: 0.8em;
      color: rgb(131, 131, 131);

      @media screen and (min-width: 50em) {
         font-size: 0.9em;
      }
   }
}
