// My Custom Header
.site .site-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 160px;
   background: white;
   p,
   a,
   li {
      color: black;
   }
   @media screen and (min-width: 25em) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 25px;
   }
   @media screen and (min-width: 50em) {
      flex-direction: row;
      justify-content: space-around;
      height: 15vh;
      min-height: 100px;
   }

   // Site Branding
   .site-branding {
      width: 75%;
      margin: 0px 0px 5px 0px;
      max-width: 275px;
      height: auto;
      padding: 0px;
   }

   nav.main-navigation {
      // Button
      button.menu-toggle {
         font-size: 1em;
         background: none;
         text-transform: lowercase;
         padding: 10px 20px;
         border-radius: 0;
         border: 1px solid black;
         position: relative;
         top: -15px;
         @media screen and (min-width: 25em) {
            position: static;
         }
         @media screen and (min-width: 50em) {
            display: none;
         }
         &:hover {
            cursor: pointer;
         }
      }
      .menu {
         position: fixed;
         top: 160px;
         left: 0px;
         z-index: 999;
         width: 100%;
         height: 100vh;
         @media screen and (min-width: 50em) {
            width: 400px;
            height: auto;
            position: static;
            height: auto;
            display: block !important;
         }

         .nav-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: inherit;
            padding: 35px 0px;
            margin: 0px;
            background: white;
            height: 100vh;
            a {
               font-size: 1.25em;
               transition: all 0.25s ease-out;
               @media screen and (min-width: 50em) {
                  opacity: 0.3;
                  &:hover {
                     opacity: 1;
                  }
               }
            }
            a,
            li {
               list-style-type: none;
               text-decoration: none;
               text-transform: lowercase;
            }
            li {
               padding: 15px 0px;
            }
            @media screen and (min-width: 50em) {
               flex-direction: row-reverse;
               justify-content: space-between;
               height: auto;
               width: 75%;
            }
         }
      }
   }
}

// Toggle States
.menu-on {
   @media screen and (max-width: 50em) {
      display: block !important;
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      @keyframes slide-in-bottom {
         0% {
            transform: translateY(1000px);
            opacity: 0;
         }
         100% {
            transform: translateY(0);
            opacity: 1;
         }
      }
   }
}

.menu-off {
   @media screen and (max-width: 50em) {
      animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      @keyframes slide-out-bottom {
         0% {
            transform: translateY(0);
            opacity: 1;
         }
         100% {
            transform: translateY(1000px);
            opacity: 0;
         }
      }
   }
}
